body
{
	background-color: #ffffff;
}

#title
{
	text-align: center;
	font-size: 140%;
	font-weight: bold;
	padding-top: 30px;
}

#subtitle
{
	text-align: center;
	font-size: 130%;
	font-weight: bold;
	padding-top: 50px;
}

#date
{
	text-align: center;
	font-size: 100%;
	padding-top: 50px;
	
}

#authors
{
	text-align: center;
	font-size: 100%;
	font-style: italic;
	padding-top: 50px;
}

#header table
{
	width: 100%;
}

#header td
{
	text-align: right;
}

img
{
	border-width: 0px;
}

#content
{
	font-size: 90%;
	background-color: #f9f9f9;
	padding-bottom: 5px;
	padding-left: 5px;
    padding-right: 5px;       
    margin-left: 10px;
    border-top: #cccccc 1px solid;
    border-bottom: #cccccc 1px solid;
    border-left: #cccccc 1px solid;    
    border-right: #cccccc 1px solid;
    
    line-height: 130%;
}

#content h1
{
    font-size: 140%;
}

#content h2
{
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 5px;
}

#content h3
{
	font-size: 100%;
    font-weight: bold;    
    margin-bottom: 0px;
}

#content ul
{
  margin-top: 0px;
  margin-bottom: 0px;
}

div.figure
{
	text-align: center;
}

div.caption
{
	font-weight: bold;
	text-align: center;
}

